.App {
  /* text-align: center; */
  /* background-color: #800020; */
}

.about-me {
  margin-left: 6cm;
  margin-right: 6cm;
  /* margin-bottom: 500px; */
  margin-top: 50px;
  padding: 2cm;
}

/* .about-me-text {
  margin-left: 100px;
} */

.center {
  text-align: center;
}

.home {
  margin: 7cm;
  padding: 3cm;
}

.socials {
  margin: 30px;
  bottom: 0;
  position:fixed
}