.App {
  /* text-align: center; */
  /* background-color: #800020; */
}

.about-me {
  margin-left: 150px;
  margin-right: 150px;
  /* margin-bottom: 500px; */
  margin-top: 50px;
  padding: 3cm;
}

.about-me-text {
  margin-left: 100px;
}

.center {
  text-align: center;
}

.home {
  margin: 7cm;
  padding: 3cm;
  font-size: 300%;
}